$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';
@import 'theme';


@media (max-width: 540) {

  .game {
    height: 380px;
    width: 350px;
   }
}

// Header bar
header {
  height: 110px;
  margin: auto;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  width: 450px;
}

.title {
  font-size: 48px;
  margin: 10px;
  text-align: center;
}

// Buttons

header .buttonBox {
  bottom: 0;
  height: 20px;
  position: absolute;
  right: 0;
  width: 200px;
}

button {
  background-color: $vibrant-blue;
  border: none;
  color: $black;
  font-size: 20px;
}

.yesSign {
  z-index: 10;
}

.hide {
  display: none;
}



// Forms

// form {
//   background: $yellow;
// }

#signUp {
  height: 500px;
  width: 500px;
}


//  --Game Area--

.game {
  height: 480px;
  margin: auto;
  width: 450px;};



// Scoreboard

.scoreboard p {
  display: inline-block;
  font-size: 18px;
  list-style: none;
};


// Game Board
.red-back {
  background: $red;
  height: 450px;
  margin: auto;
  width: 100%;
}

.board {
  background: $black;
  color: $white;
  height: 88.88%;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 5%;
  width: 88.88%;
}

.board .box {
  background: $white;
  color: $black;
  float: left;
  font-size: 50px;
  height: 30%;
  margin: 2px;
  width: 30%;
}

.message {
  font-size: 24px;
  text-align: center;
}
