
//
// $background-color: #4e4e4e ;
// $font-color: #dfdfdf ;

* {
  box-sizing: border-box;
  font-family: Poiret One;
}

body {
  background: #29C5E4;
}


// Header bar
header {
  height: 100px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 450px;
}

header div {
  display: inline-block;;
}

.title {
  font-size: 48px;
  margin: 10px;
  text-align: center;
}

// Sign in and Log in Buttons

.buttons {
  bottom: 0;
  position: absolute;
  right: 0;
}

.buttons div {
  font-size: 20px;
  margin: 0;
  padding: 7px;
}

.active {
  background: yellow;
}

// Forms

.logInForm {
  background: yellow;
  height: 120px;
  width: 150px;
  top: 50px;
  z-index: 100;
  float: right;
}



//  --Game Area--

.game {
  height: 480px;
  margin: auto;
  width: 450px;};

// Scoreboard
.scoreboard p {
  display: inline;
  clear: right;
};


// Game Board
.container {
  background: red;
  height: 450px;
  margin: auto;
  width: 450px;
}

.board {
  background: black;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 5%;
  width: 400px;
}

.board div {
  background: white;
  display: inline-block;
  height: 30%;
  margin: 2px;
  width: 30%;
}

// Message
.message {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
};
